<%- include('../includes/head.ejs') %>

    </head>

    <body>
        <%- include('../includes/nav.ejs',{user:user}) %>
            <form class="min-h-[85vh]  grid place-items-center" method="POST" action="/users/update/<%=userDetails.id%>">
                <ul class="w-full md:w-1/2 flex flex-col gap-5 px-2">
                    <% errors.forEach((error,i)=>{ %>
                        <p class="text-center text-red-500 font-semibold">
                            <%=error.msg%>
                        </p>
                        <%})%>
                        <li class="flex flex-col space-y-2">
                            <label for="name">Name</label>
                            <!-- Name attribute is must to apply -->
                            <input type="text" name="name" id="name" class="border-2 py-2 px-3 rounded-sm" value="<%=userDetails.name%>">
                        </li>
                            <li class="flex flex-col space-y-2">
                                <label for="email">Email</label>
                                <!-- Name attribute is must to apply -->
                                <input type="email" name="email" id="email" class="border-2 py-2 px-3 rounded-sm"  value="<%=userDetails.email%>">
                            </li>
                            <button type="submit"
                                class="bg-blue-500 py-1 uppercase text-white font-semibold">Update</button>
                </ul>
            </form>
    </body>
    </html>